My name is Nathaniel Barnes.  Welcome to my infinite scroll demo.  The source code for this demo can be found at https://github.com/nbarnes/infinite_scroll_example and I gladly respond to feedback at nbarnes@gmail.com.g
%br
%br

= image_tag 'ajax_loading.gif', id: "loading_gif"

#posts_list
  - @posts.each do |post|
    = render 'post', post: post
